
/* TODO: Figure out the correct way to fill the whole screen with main-wrapper */
.main-wrapper{

    width: 98vw;
    height: 90vh;
    display: flex;
    flex-direction: column;

}

.layer-wrapper{

    display: flex;
    flex: 1;
    margin: 1em;
    flex-direction: row;
}

.controls-wrapper{

    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;

}

.layer-component {

    display: flex;
    flex: 1;
    margin: 1em;
    
}